/ui_SessionInfoWidget.h
/ui_UpdateCheckDialog.h
/ui_OverviewNetworkStreamsWidget.h
/ui_ParticipantWidget.h
/ui_SegmentSelectionDialog.h
/ui_OverviewContactsWidget.h
/ui_OverviewPlaylistWidget.h
/ui_StreamPositionWidget.h
/ui_VersionDialog.h
/ui_ContactEditDialog.h
/ui_AvailabilityWidget.h
/ui_FileTransferAckDialog.h
/ui_OpenVideoAudioPreviewDialog.h
/ui_IdentityDialog.h
/ui_OverviewThreadsWidget.h
/ui_AddNetworkSinkDialog.h
/ui_OverviewErrorsWidget.h
/ui_MessageWidget.h
/ui_OverviewDataStreamsWidget.h
/ui_ConfigurationDialog.h
/ui_StreamingControlWidget.h
/ui_VideoWidget.h
/ui_AudioWidget.h
/ui_HelpDialog.h
/ui_MainWindow.h
/ui_ServerConnectionWidget.h
/ui_OverviewFileTransfersWidget.h
